<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add job</title>
</head>

<body>

    <%- include('partials/nav.ejs')%>
        <div class="add-job-main-container">

            <div class="div">

                <form class="form" action="/add-job" method="post">
                    <h3>post new job</h3>
                    <input type="text" placeholder="title" name="title"><br>
                    <input type="text" placeholder="company name" name="companyName"><br>
                    <input type="text" placeholder="location" name="location"><br>
                    <textarea rows="10" placeholder="Description" name="description"></textarea>
                    <button>POST</button>
                </form>

            </div>

            <div class="div">
                <h3>Posted Jobs</h3>
                <table>
                    <tr>
                        <th>Title</th>
                        <th>Company name</th>
                        <th>Operations</th>
                    </tr>
                    <% if(responseArray.length> 0){%>
                        <% responseArray.forEach((results)=>{%>

                            <tr>
                                <td class="sub"><%=results.title%></td>
                                <td class="sub"><%=results.companyName%></td>
                                <td class="buttons"><a onclick="deleteFuction(<%=JSON.stringify(results)%>)" data-doc =<%results.id%>><button>delete</button></a>  <button>update</button></td>


                            </tr>


                            <% }) %>

                                <% } else {%>

                                    <h1>No jobs yet</h1>
                                    <%}%>
                </table>

            </div>
        </div>

        <script>
            function deleteFuction(results){
                console.log(results)
                
            }
        </script>

</body>

</html>