<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add job</title>
</head>
<body>

    <%- include('partials/nav.ejs')%>
    <div class="add-job-main-container">

        <div class="div">

            <form action="">
                <h3>create new job</h3>
                <input type="text"
            </form>

        </div>

        <div class="div">
            
        </div>
    </div>
    
</body>
</html>