<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nodejs course</title>
</head>

<body>
    <%- include('partials/nav.ejs')%>

      
   <div class="page-header">
      <h2 class="job-header">
        all jobs 
      </h2>

   </div>

   <div class="main-jobs-container">

    <div class="job-details">
        <div class="created-details">
            <div>
                <img src="" alt="">
            </div>
        </div>
    </div>
   </div>

</body>

</html>